/* @import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

*{
    font-family: "Mulish", sans-serif;
    padding: 3px
}

.cont-ficha-resumen{
    font-size: 16px;
    width: 27vw;
    height: 30px;
    border: solid 1px #14213d;
    display: flex;
    justify-content: space-between;
    background-color: #fca311;
    margin: 5px
}

.fr-izq{
    margin: 0px;
    color: #14213d;
    font-weight: bold;
}

.fr-der{
    margin: 0px;
    color: #14213d;
}
 */
