.users-title {
    font-size: 24px;
    text-align: center;
    padding: 0px;
    color: #14213d;
  }

  .tableUsuarios {
    width: 100%;
    margin-bottom: 10px;
    color: #fca311;
  }
  
  th {
    width: 80%;
    text-align: center;
    border: 1px solid #fca311;
    background-color: #14213d;
    height: 30px;
  }