@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  font-family: "Mulish", sans-serif;
   padding: 3px; 
}

.gogers {
  border-radius: 10px;
  display: flex; 
  margin: auto;
  background-color: #14213d;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all .4s ease-in-out ;
}

.gogers:hover {
-webkit-box-shadow: 0px 0px 30px 0px rgba(87,82,87,1);
-moz-box-shadow: 0px 0px 30px 0px rgba(87,82,87,1);
box-shadow: 0px 0px 30px 0px rgba(87,82,87,1);
}

.goger-image {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  border-radius: 10px;
}

.goger-container {
  width: 280px;
  height: 280px;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}