.links {
    background-color: #14213d;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
}

.pageLinks {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  height: 60%;
}


.dashboard, .projects {
  margin-left: 25%;
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  color: #e4e4e4;
  cursor: pointer;
}

h3 {
    font-weight: 300;
}

svg {
    font-size: 1.1rem;
    margin-bottom: 2%;
    align-self: center;
}

div.contact {
  width: 60%;
  background-color: #091322;
  color: #c4c4c4;
  height: 15%;
  margin: auto auto;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.contact a {
    color: white;
    text-decoration: none;
}

/* @media screen and (min-width: 320px) and (max-width: 1080px) {
    *{
        margin-bottom: 2rem;
    }
}; */