.lastCreated {
    width: 200px;
}

.detail {
    display: flex;
    margin: auto;
    max-width: 300px;
    text-align: center;
    background: #14213d;
    margin: 10px 30px;
    padding-bottom: 20px;
    padding-top: 0px;
    border: outset #fca311 2px;
    border-radius: 10px;
    flex-direction: column;
}

.text-pd b, p, .lastTitle {
    color: #fca311;
  }

main .img-cont {
    display: block;
    max-width: 100%;
    margin: auto;
    margin-top: 0;
  }

main .img-cont img {
    width: 100%;
    border-radius: 10px;
  }
