.container {
   width: 20%;
   height: 97.5vh !important;
   border-radius: 2rem;
   background-color: #091322;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 3rem;
}

/* @media screen and (min-width: 320px) and (max-width: 1080px) {
    *{
     width: 100%;
     height: max-content !important;
   }
} */
