@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
 
.my-app {
  font-family: 'Mulish', sans-serif;
  background-color: #d5d5da;
  border-radius: 2rem;
  border: solid white 10px;
  }

.content {
  display: flex;
}

h1.api-title {
  color: #14213d;
  text-align: center;
  margin: 0px;
}
